<div class ='card marging-top'>
    <div class ='card-header'>
        <h4>{{pageTitle}}</h4>
    </div>
   <div class='card-body'>
        <div class="row">
            <div class="col-md-3">User:</div>
            <div class="col-md-3">
                <input type="text" [(ngModel)] = 'userName'>
                {{userName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Password</div>
            <div class="col-md-3">
                <input type="password" [(ngModel)] = 'password'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary" (click) = 'login()'>
                    Login
                </button>
            </div>
        </div>
    </div>
    
    <div class='card-footer'>
        
    </div>
</div>